[
	{ folsom_cowboy, [
		{ port, 8888 }
	] },

	{ folsom_graphite, [
		{ graphite_host, "APPKEY.carbon.hostedgraphite.com" },
		{ prefix, "HOSTEDGRAPHITE-UUID" },
		{ aplication, "cowboy_test" }
	] },

	{ lager, [
		{ error_logger_hwm, 500 },
		{ handlers, [
			{ lager_file_backend, [
				{ file, "log/cowboy_test.log" },
				{ level, info },
				{ size, 10000000 },
				{ date, "" }, % don't wrap around based on dates
				{ count, 5 },
				{ formatter, lager_default_formatter },
				{ formatter_config, [
					date, " ", time, " [", severity, "] ", pid, " ",
					{ module, [ "[", module, { line, [":", line], "" }, "] " ], "" },
					message, "\n"
				] }
			] },
			{ lager_file_backend, [
				{ file, "log/debug.log" },
				{ level, debug },
				{ size, 10000000 },
				{ date, "" }, % don't wrap around based on dates
				{ count, 5 },
				{ formatter, lager_default_formatter },
				{ formatter_config, [
					date, " ", time, " [", severity, "] ", pid, " ",
					{ module, [ "[", module, { line, [":", line], "" }, "] " ], "" },
					message, "\n"
				] }
			] }
		] },
		{ crash_log, "log/crash.log" }
	] },

	{ sasl, [
		{ sasl_error_logger, {file, "log/sasl-error.log"} },
		{ errlog_type, error }
	] }
].
